.gitignore
.htaccess
.DS_Store
administrator/cache/*
administrator/components/com_banners/*
administrator/components/com_contact/*
administrator/components/com_finder/*
administrator/components/com_messages/*
administrator/components/com_newsfeeds/*
administrator/components/com_redirect/*
administrator/components/com_search/*
administrator/components/com_weblinks/*
administrator/components/com_wrapper/*
administrator/language/en-GB/en-GB.com_banners.ini
administrator/language/en-GB/en-GB.com_banners.sys.ini
administrator/language/en-GB/en-GB.com_contact.ini
administrator/language/en-GB/en-GB.com_contact.sys.ini
administrator/language/en-GB/en-GB.com_finder.ini
administrator/language/en-GB/en-GB.com_finder.sys.ini
administrator/language/en-GB/en-GB.com_messages.ini
administrator/language/en-GB/en-GB.com_messages.sys.ini
administrator/language/en-GB/en-GB.com_newsfeeds.ini
administrator/language/en-GB/en-GB.com_newsfeeds.sys.ini
administrator/language/en-GB/en-GB.com_redirect.ini
administrator/language/en-GB/en-GB.com_redirect.sys.ini
administrator/language/en-GB/en-GB.com_search.ini
administrator/language/en-GB/en-GB.com_search.sys.ini
administrator/language/en-GB/en-GB.com_weblinks.ini
administrator/language/en-GB/en-GB.com_weblinks.sys.ini
administrator/language/en-GB/en-GB.com_wrapper.ini
administrator/language/en-GB/en-GB.com_wrapper.sys.ini
administrator/language/en-GB/en-GB.plg_authentication_gmail.ini
administrator/language/en-GB/en-GB.plg_authentication_gmail.sys.ini
administrator/language/en-GB/en-GB.plg_authentication_ldap.ini
administrator/language/en-GB/en-GB.plg_authentication_ldap.sys.ini
administrator/language/en-GB/en-GB.plg_content_emailcloak.ini
administrator/language/en-GB/en-GB.plg_content_emailcloak.sys.ini
administrator/language/en-GB/en-GB.plg_content_finder.ini
administrator/language/en-GB/en-GB.plg_content_finder.sys.ini
administrator/language/en-GB/en-GB.plg_content_geshi.ini
administrator/language/en-GB/en-GB.plg_content_geshi.sys.ini
administrator/language/en-GB/en-GB.plg_content_loadmodule.ini
administrator/language/en-GB/en-GB.plg_content_loadmodule.sys.ini
administrator/language/en-GB/en-GB.plg_content_pagebreak.ini
administrator/language/en-GB/en-GB.plg_content_pagebreak.sys.ini
administrator/language/en-GB/en-GB.plg_content_pagenavigation.ini
administrator/language/en-GB/en-GB.plg_content_pagenavigation.sys.ini
administrator/language/en-GB/en-GB.plg_content_vote.ini
administrator/language/en-GB/en-GB.plg_content_vote.sys.ini
administrator/language/en-GB/en-GB.plg_editors_codemirror.ini
administrator/language/en-GB/en-GB.plg_editors_codemirror.sys.ini
administrator/language/en-GB/en-GB.plg_editors_tinymce.ini
administrator/language/en-GB/en-GB.plg_editors_tinymce.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_article.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_article.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_image.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_image.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_pagebreak.sys.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.ini
administrator/language/en-GB/en-GB.plg_editors-xtd_readmore.sys.ini
administrator/language/en-GB/en-GB.plg_finder_categories.ini
administrator/language/en-GB/en-GB.plg_finder_categories.sys.ini
administrator/language/en-GB/en-GB.plg_finder_contacts.ini
administrator/language/en-GB/en-GB.plg_finder_contacts.sys.ini
administrator/language/en-GB/en-GB.plg_finder_content.ini
administrator/language/en-GB/en-GB.plg_finder_content.sys.ini
administrator/language/en-GB/en-GB.plg_finder_newsfeeds.ini
administrator/language/en-GB/en-GB.plg_finder_newsfeeds.sys.ini
administrator/language/en-GB/en-GB.plg_finder_weblinks.ini
administrator/language/en-GB/en-GB.plg_finder_weblinks.sys.ini
administrator/language/en-GB/en-GB.plg_search_categories.ini
administrator/language/en-GB/en-GB.plg_search_categories.sys.ini
administrator/language/en-GB/en-GB.plg_search_contacts.ini
administrator/language/en-GB/en-GB.plg_search_contacts.sys.ini
administrator/language/en-GB/en-GB.plg_search_content.ini
administrator/language/en-GB/en-GB.plg_search_content.sys.ini
administrator/language/en-GB/en-GB.plg_search_newsfeeds.ini
administrator/language/en-GB/en-GB.plg_search_newsfeeds.sys.ini
administrator/language/en-GB/en-GB.plg_search_weblinks.ini
administrator/language/en-GB/en-GB.plg_search_weblinks.sys.ini
administrator/language/en-GB/en-GB.plg_system_finder.ini
administrator/language/en-GB/en-GB.plg_system_finder.sys.ini
administrator/language/en-GB/en-GB.plg_system_highlight.ini
administrator/language/en-GB/en-GB.plg_system_highlight.sys.ini
administrator/language/en-GB/en-GB.plg_system_redirect.ini
administrator/language/en-GB/en-GB.plg_system_redirect.sys.ini
administrator/language/en-GB/en-GB.plg_user_contactcreator.ini
administrator/language/en-GB/en-GB.plg_user_contactcreator.sys.ini
administrator/language/en-GB/en-GB.plg_user_profile.ini
administrator/language/en-GB/en-GB.plg_user_profile.sys.ini
administrator/language/en-GB/en-GB.tpl_hathor.ini
administrator/language/en-GB/en-GB.tpl_hathor.sys.ini
administrator/templates/hathor/*
administrator/templates/bluestork/*
cache/*
components/com_banners/*
components/com_contact/*
components/com_finder/*
components/com_newsfeeds/*
components/com_search/*
components/com_weblinks/*
components/com_wrapper/*
installation/CHANGELOG
installation/sql/mysql/sample_data.sql
language/en-GB/en-GB.com_contact.ini
language/en-GB/en-GB.com_finder.ini
language/en-GB/en-GB.com_messages.ini
language/en-GB/en-GB.com_newsfeeds.ini
language/en-GB/en-GB.com_search.ini
language/en-GB/en-GB.com_weblinks.ini
language/en-GB/en-GB.com_wrapper.ini
language/en-GB/en-GB.mod_articles_archive.ini
language/en-GB/en-GB.mod_articles_archive.sys.ini
language/en-GB/en-GB.mod_articles_categories.ini
language/en-GB/en-GB.mod_articles_categories.sys.ini
language/en-GB/en-GB.mod_articles_category.ini
language/en-GB/en-GB.mod_articles_category.sys.ini
language/en-GB/en-GB.mod_articles_latest.ini
language/en-GB/en-GB.mod_articles_latest.sys.ini
language/en-GB/en-GB.mod_articles_news.ini
language/en-GB/en-GB.mod_articles_news.sys.ini
language/en-GB/en-GB.mod_articles_popular.ini
language/en-GB/en-GB.mod_articles_popular.sys.ini
language/en-GB/en-GB.mod_banners.ini
language/en-GB/en-GB.mod_banners.sys.ini
language/en-GB/en-GB.mod_finder.ini
language/en-GB/en-GB.mod_finder.sys.ini
language/en-GB/en-GB.mod_footer.ini
language/en-GB/en-GB.mod_footer.sys.ini
language/en-GB/en-GB.mod_random_image.ini
language/en-GB/en-GB.mod_random_image.sys.ini
language/en-GB/en-GB.mod_related_items.ini
language/en-GB/en-GB.mod_related_items.sys.ini
language/en-GB/en-GB.mod_search.ini
language/en-GB/en-GB.mod_search.sys.ini
language/en-GB/en-GB.mod_stats.ini
language/en-GB/en-GB.mod_stats.sys.ini
language/en-GB/en-GB.mod_syndicate.ini
language/en-GB/en-GB.mod_syndicate.sys.ini
language/en-GB/en-GB.mod_users_latest.ini
language/en-GB/en-GB.mod_users_latest.sys.ini
language/en-GB/en-GB.mod_weblinks.ini
language/en-GB/en-GB.mod_weblinks.sys.ini
language/en-GB/en-GB.mod_whosonline.ini
language/en-GB/en-GB.mod_whosonline.sys.ini
language/en-GB/en-GB.mod_wrapper.ini
language/en-GB/en-GB.mod_wrapper.sys.ini
language/en-GB/en-GB.tpl_atomic.ini
language/en-GB/en-GB.tpl_atomic.sys.ini
language/en-GB/en-GB.tpl_beez5.ini
language/en-GB/en-GB.tpl_beez5.sys.ini
language/en-GB/en-GB.tpl_beez_20.ini
language/en-GB/en-GB.tpl_beez_20.sys.ini
media/contacts/*
media/editors/*
media/com_finder/*
media/editors/codemirror/*
media/editors/tinymce/*
media/plg_system_finder/*
media/plg_system_highlight/*
modules/mod_articles_archive/*
modules/mod_articles_categories/*
modules/mod_articles_category/*
modules/mod_articles_latest/*
modules/mod_articles_news/*
modules/mod_articles_popular/*
modules/mod_banners/*
modules/mod_finder/*
modules/mod_footer/*
modules/mod_random_image/*
modules/mod_related_items/*
modules/mod_search/*
modules/mod_stats/*
modules/mod_syndicate/*
modules/mod_users_latest/*
modules/mod_weblinks/*
modules/mod_whosonline/*
modules/mod_wrapper/*
plugins/authentication/gmail/*
plugins/authentication/ldap/*
plugins/content/emailcloak/*
plugins/content/example/*
plugins/content/finder/*
plugins/content/geshi/*
plugins/content/loadmodule/*
plugins/content/pagebreak/*
plugins/content/pagenavigation/*
plugins/content/vote/*
plugins/editors/codemirror/*
plugins/editors/tinymce/*
plugins/editors-xtd/*
plugins/editors-xtd/article/*
plugins/editors-xtd/image/*
plugins/editors-xtd/pagebreak/*
plugins/editors-xtd/readmore/*
plugins/finder/*
plugins/finder/categories/*
plugins/finder/content/*
plugins/finder/contacts/*
plugins/finder/newsfeeds/*
plugins/finder/weblinks/*
plugins/search/categories/*
plugins/search/content/*
plugins/search/contacts/*
plugins/search/newsfeeds/*
plugins/search/weblinks/*
plugins/system/highlight/*
plugins/system/redirect/*
plugins/user/contactcreator/*
plugins/user/profile/*
templates/atomic/*
templates/beez_20/*
templates/beez5/*
tmp/*
configuration.php
joomla.xml
squareone.xml
README.txt
tx.exe
/.tx/
